<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Agendate</h1>
          <p>
            Agéndate es una aplicación que permite a las compañías del sector
            salud, ser mucho mas agiles y eficientes en la atención de las
            usuario, permitiendo que este pueda realizar los pagos de las cuotas
            moderadoras por medio de la app evitando grandes filas y
            demoras en la atención.
          </p>
          <!-- <span>
            <p>login with social media</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i> Login with
              Twitter</a
            >
          </span> -->
        </div>
      </div>

      <div class="right">
        <img
          src="https://stackblitz.com/files/innovacion-app/github/xp3ctr0/Innovacion-App/main/src/app/pages/login/logo_agendate.png"
          alt=""
        />
        <br />
        <br />
        <p>
          No tienes una cuenta? <br /><a href="#">Contactate con tu asesor</a>
        </p>
        <div class="inputs">
          <input type="text" placeholder="user name" />
          <br />
          <input type="password" placeholder="password" />
        </div>

        <br /><br />

        <div class="remember-me--forget-password">
          <!-- Angular -->
          <label>
            <input type="checkbox" name="item" checked />
            <span class="text-checkbox">Remember me</span>
          </label>
          <p>forget password?</p>
        </div>

        <br />
        <button class="btn__login" (click)="goHome()">Login</button>
      </div>
    </div>
    <!-- partial -->
  </body>
</html>
